body {
  background-color: #eff1f4;
  font-family: 'Poppins', sans-serif;
  color: #111827;
  margin: 0;
  padding: 0;
}
button {
  transition: background-color 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
